body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:darkgray;
}

.card {
    background-color:rgb(168, 165, 165);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Borda sutil */
    border-radius: 5px;
}

button:hover {
    background-color: rgb(168, 165, 165);

}

#resultado {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: none;
}